<h1> web-server cgi project </h1>
<h2> You can visit: </h2>
<p> /helloworld.html </p>
<p> /rating.html </p>
<p> /cgi-env </p>
<p> /monkey.jpeg </p>
<p> /hw.pdf </p>
<p> /bio.png </p>
<p> /test.py </p>
<p> /plain_text.txt </p>
