<h3>Тема моего проекта "Веб-сервер с функциональностью cgi"</h3>

<p>Веб-сервер - это программа, установленная на физическом сервере (машине, которая предназначена для выполнения разнообразных задач без участия людей),
которая обеспечивает доступ по сети к данным, которые хранятся на этой машине.
К веб-серверу обращаются по уникальному адресу, который есть у данной машины. 
Сервер ждет обращения по данному адресу, а затем обрабатывает его и возвращает какой-то ответ. 
При этом запросы браузера серверу и ответы сервера браузеру формируются в соответсвии с протоколом http.
Важно отметить, что веб-сервер должен уметь обрабатывать множество запросов одновременно.</p>


<p>CGI (Common Gateway Interface)** - формат взаимодействия веб-сервера и других программ, выполняющихся на физическом сервере.
Использование cgi позволяет делать страницы динамическими, т.е. позволяет автоматически изменять ответ, отправляемый на запрос клиента,
в соответсвии с каким-то текущими условиями, которые каждый раз разные.
Например, чтобы иметь возможность для запроса mysite.com/name=some_name выводить на странице сайте "Hello, some_name", нужен cgi.
Т.е. cgi позволит нам на сервере завести программу, которая будет парсить строку name=some_name, узнавать из нее то,
что имя - это some_name, и соответсвенно ей изменять ответ, который веб-сервер пошлет обратно пользователю, представившемуся как some_name.</p>


<h4>Аргументы командой строки</h4>

<p>
<p> argv[0] (обязательный) - директория, в которой хранятся запрашиваемые файлы (папка files) </p>


<p>argv[1] (по умолчанию 80) - номер порта, если указанный порт занят, то сервер выбирает первый свободный, о чем оведомляет
                            сообщением на стандартном потоке вывода </p>


<p>argv[2] (по умолчанию 127.0.0.1) - имя хоста</p>
</p>


<h4>Переменные среды, к которым имеют доступ и сервер, и запускаемый им сторонний скрипт </h4>
<p>SERVER_PORT</p>
<p>HOST_NAME</p>
<p>STORAGE_DIRECTORY</p>
<p>REQUEST_URI</p>
<p>QUERY_STRING</p>

<h4>HTTP-заголовок</h4>

<p>В HTTP-заголовке сервер отправляет статус, дату, тип и размер ответа</p>


<h4>Возможные запросы, к содержимому папки files</h4>
<p>hostname:portno/rating.html</p>
<p>hostname:portno/helloworld.html</p>
<p>hostname:portno/dinamic_hello/?param1=value1&param2=value2</p>
<p>hostname:portno/cgi-env/?param1=value1&param2=value2 (печатает содержание переменных среды)</p>



